@import "../base/fn";

.header{
	position: fixed;
	left:0;
	right: 0;
	top:0;
	z-index:999;
	height: 1rem;
	line-height:1rem;
	font-size: $f32;
	background:$blue;
	.title{
		font-size: $f36;
		text-align: center;
		color:#fff;
	}
	.user-avatar{
		width: .5rem;
		height: .5rem;
		margin-right: .1rem;
		vertical-align: middle;
		display: inline-block;
		border-radius: 50%;
		overflow:hidden;
		background:$darkWeak;
	}
	&-l{
		position: absolute;
		left:0;
		top:0;
		width: .9rem;
		height: 100%;
		text-align: center;
		.icon-left{
			@include setArrow(left , .25rem , $darkWeak, .03rem);
		}

	}
	&-r{
		position: absolute;
		right:0;
		top:0;
		height: 100%;
		text-align: center;

	}
	.creat-btn{
		margin:.2rem .2rem 0 0;
		display: inline-block;
		width: 1.1rem;
		height: .6rem;
		line-height: .6rem;
		color:#fff;
		font-size: $f28;
	}

}